section {
  background-color: #ccd8ff;
  padding: 50px 0;
}

div {
  width: 100px;
  height: 100px;
  background-color: #4773ff;
  margin: 0 auto;
  height: 100vh;
  background-color: #D9AFD9;
  background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
}
